<!DOCTYPE html>
<html xmlns           ="http://www.w3.org/1999/xhtml"
      xmlns:th        ="http://www.thymeleaf.org"
      xmlns:layout    ="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
	<link rel="stylesheet" th:href="@{/css/site.css}" />
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" th:href="@{/css/custom.css}" />
	<script th:src="@{/scripts/jquery-1.10.2.js}"></script>
	<script th:src="@{/scripts/bootstrap.js}"></script>
</head>
<body>
    <!-- header -->
    <header class="header">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a th:href="@{/top}" class="navbar-brand" th:text="#{common.header.title}">簡易決裁システム</a>
                </div>
                <div class="navbar-collapse collapse">
                    
                            <div>
                            <ul class="nav navbar-nav">
                                <li><a th:href="@{/top}" th:text="#{common.header.top}">TOP</a></li>
                            </ul>
                            </div>
                        
                            <div>
                            <ul class="nav navbar-nav">
                                <li><a th:href="@{/A0100}" th:text="#{common.header.apply}">申請</a></li>
                            </ul>
                            </div>
                        
                            <div>
                            <ul class="nav navbar-nav">
                                <li><a th:href="@{B1000}" th:text="#{common.header.approve}">承認</a></li>
                            </ul>
                            </div>
                        
                            <div>
                            <ul class="nav navbar-nav">
                                <li><a th:href="@{C1000}" th:text="#{common.header.manager}">管理</a></li>
                            </ul>
                            </div>
                        
                    <div style="width:400px;margin-right:0px;margin-left: auto;padding-top: 5px;padding-bottom: 5px;color:white">
                        <span id="Label1">001105 横＊＊ 姉＊＊ ＊＊<br />総務課</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- contents -->
    <div layout:fragment="content" class="content"></div>

    <!-- footer -->
    <footer class="footer">
    	<div align="center" class="container">
     		<p class="text-muted" th:text="'&copy; 2017 -' +  #{common.header.title}">&copy; 2017 - 簡易決裁システム</p>
    	</div>
    </footer>
</body>
</html>