<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/common">
<head>
<title th:text="#{a0010.content.title}">申請区分選択</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container body-content">
			<!-- navigation: start -->
			<div>
				<div class="container">
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a th:href="@{/A0100}" th:text="#{common.nav.new.application}">新規申請</a></li>
							<li><a th:href="@{/A1000}" th:text="#{common.nav.application.list}">申請済一覧</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- navigation: end -->

			<h2 th:text="#{a0010.content.title}">申請区分選択</h2>
			<hr />
			<div class="row">
				<div>
					<div class="col-md-4">
						<h2 th:text="#{a0010.content.proxy.approval}">代理決裁</h2>
						<p th:text="#{a0010.content.proxy.explain}"></p>
						<p>
							<a id="MainContent_ChildContent1_ListView1_LinkButton1_0"
								class="btn btn-default" th:href="@{#}"
								th:text="#{a0010.content.button.apply}">申請する</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>