<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Home</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<script th:src="@{/scripts/jquery-1.10.2.js}"></script>
<script th:src="@{/scripts/bootstrap.js}"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	$(function() {

	});
	/*]]>*/
</script>
</head>
<body>
	<div class="	table-dark">
		<div class="card" style="width: 80%;">
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><a href="/apply">Vacation Apply</a></li>
				<li class="list-group-item"><a href="/approve">Vacation Approve</a></li>
				<li class="list-group-item"><a href="/register">Register</a></li>
				<li class="list-group-item"><a href="/top">Top</a></li>
				<li class="list-group-item"><a href="/task">Task</a></li>
			</ul>
			<form th:action="@{/logout}" method="post">
				<input type="submit" class="btn btn-primary" value="logout" />
			</form>
		</div>
	</div>
</body>
</html>