<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Home</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<script th:src="@{/scripts/jquery-1.10.2.js}"></script>
<script th:src="@{/scripts/bootstrap.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
    	 
    });
    /*]]>*/
</script>
</head>
<body>
	<div class="content">
		<a href="/apply">vacation apply</a><br />
		<a href="/approve">vacation approve</a><br />
		<a href="/register">register</a><br />
		<form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-primary" value="logout"/>
        </form>
	</div>
</body>
</html>