<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Home</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
    	 
    });
    /*]]>*/
</script>
</head>
<body>
	<div class="content">
		<form action="/login" th:action="@{/login}" th:object="${form}" method="post">
			<div><label> User ID : <input type="text" name="userId" /> </label></div>
            <div><label> Password: <input type="password" name="password" /> </label></div>
            <div>
            	<input type="submit" value="Sign In"/>
            	<input type="submit" value="login"/>
            </div>
		</form>
		<div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
	</div>
</body>
</html>