<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<script th:src="@{/scripts/jquery-1.10.2.js}"></script>
<script th:src="@{/scripts/bootstrap.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
    	 
    });
    /*]]>*/
</script>
</head>
<body>
	<!-- container -->
	<div class="container">
		<!-- card-container -->
		<div class="card card-container">
			<img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" />
			<p id="profile-name" class="profile-name-card"></p>
			<!-- form -->
			<form class="form-signin" action="/login"  th:action="@{/login}"  th:object="${form}" method="post">
				<span id="reauth-email" class="reauth-email"></span> 
				<input type="text" class="form-control" placeholder="Username"  th:name="username" th:value="*{username}"/> 
				<input type="password" class="form-control" placeholder="Password" th:name="password" th:value="*{password}" />
				<div id="remember" class="checkbox">
					<label> <input type="checkbox" value="remember-me" />
						Remember me
					</label>
				</div>
				<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
			</form>
			<div th:if="${param.error}">
	            <span class="alert-danger">Invalid username and password.</span>
	        </div>
	        <div th:if="${param.logout}">
	            <span class="alert-danger">You have been logged out.</span>
	        </div>
			<!-- /form -->
			<a href="#" class="forgot-password"> Forgot the password? </a>
		</div>
		<!-- /card-container -->
	</div>
	<!-- /container -->
</body>
</html>