<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Apply</title>
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
    	 var employName = $('.user-list option:checked').text();
    	 $('input[name=applyUserName]').attr('value', employName);
    	 $('.user-list').on('change', function(){
    		 $('input[name=applyUserName]').attr('value', $(this).find('option:checked').text());
    	 })
    	 
    	 $("#lang").on('change', function(){
    		 var selVal = $(this).val();
    		 if (selVal) {
    			 window.location.replace('?lang=' + selVal);
    		 }
    	 });
    	 
    	 // set default lang
    	 var sl = [[${lang}]];
         $('select option').each(function (e) {
            if ($(this).val() === sl ) {
                $(this).attr("selected","selected");
            }
         });
         
         $("#datepicker").datepicker({
             dateFormat: 'yy-mm-dd'
         });
    });
    /*]]>*/
</script>
<style>
	
	
</style>
</head>
<body>
	<div class="content">
		<h1 th:text="#{vacation.request.apply.title}"></h1>
		
		<form action="/apply" th:action="@{/apply}" th:object="${form}" method="post">
			<select th:name="lang" id="lang">
	            <option value="zh_CN">Chinese</option>
	            <option value="ja_JP">Japanese</option>
	            <option value="en_US">English</option>
	        </select>
			<select th:name="applyUserId" class="user-list">
				<option th:each="user : *{userList}" th:value="${user.getId()}" th:text="${user.getFirst() + ' ' + user.getLast()}"></option>
			</select>
			<input type="hidden" name="applyUserName"/>
			<!-- ${form.property} and *{property} are the same way-->
			<input type="text" th:name="numberOfDays" th:value="${form.numberOfDays}" placeholder="number of days"/><br/>
            <input type="text" id="datepicker" th:name="startDate" th:value="*{startDate}" /><br/>
            <input type="text" th:name="vacationMotivation" th:value="*{vacationMotivation}" placeholder="vacation motivation" /><br/>
            <input type="submit"  th:value="#{vacation.request.apply.button}"/>
		</form>
	</div>
</body>
</html>