<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Approve</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<link rel="stylesheet" href="/css/main.css" />
<script th:src="@{/scripts/jquery-1.10.2.js}"></script>
<script th:src="@{/scripts/bootstrap.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
    
    });
    /*]]>*/
</script>
<style>
	.approve {
		width:80% !important;
	}
	
	.task-content {
		width:100% !important;
		border-radius: 0px;
	    background-color: #f2f2f2;
	    padding: 0px;
	}
	input[type=button] {
        width: 15%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>
</head>
<body>
	<div class="content">
		<h1 th:text="#{vacation.request.approve.title}"></h1>
		<form action="/approve" th:action="@{/approve}" method="post">
			<div th:if="${tasks != null and tasks.size()> 0}" class="task-head">
				<div th:each="task: ${tasks}" class="task-content">
					<input type="hidden" name="taskId" th:value="${task.getId()}"/>
					<input type="text" th:value="${task.getDescription()}" readonly="true" class="approve" />
					<!-- path: [get]/approve/{taskId} -->
					<a th:href="@{/approve/}+${task.getId()}" th:text="#{vacation.request.approve.button}" class="btn btn-info"></a>
				</div>
			</div>
		</form>
		
	</div>
</body>
</html>